<div class="container" *ngIf="project">
    <h1>{{project.name}}</h1>
    <div class="imageProject" *ngIf="project.image">
        <img src="{{url+'get-image/'+project.image}}" *ngIf="project.image" />
    </div>

    <div class="data">
        <h3>{{project.description}}</h3>
        <p>{{project.category}}</p>
        <p>{{project.langs}}</p>
        <p>{{project.year}}</p>
    </div>

    <p *ngIf="confirm==false">
        <button class="buttonEdit" [routerLink]="['/edit', projectId]">Editar</button>
        <button class="buttonDelete" (click)="setConfirm(true)">Borrar</button>

    </p>

    <p *ngIf="confirm==true">
        <button class="buttonEdit" (click)="setConfirm(false)">Cancelar</button>
        <button class="buttonDelete" (click)="deleteProject(projectId)">Confirmar</button>

    </p>

</div>
