<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article id="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptates veniam natus fuga! Optio eligendi quisquam, voluptas iure labore qui cum iusto sed reprehenderit ducimus dolorum necessitatibus id numquam quibusdam!
        Quis soluta commodi voluptas minima corrupti libero reiciendis debitis molestias doloribus blanditiis culpa, fugiat accusantium perferendis iure consectetur adipisci hic cumque dolorum perspiciatis. Doloribus rerum pariatur vel porro cum delectus?
        Aliquam quae accusantium error doloribus culpa sit eos quaerat, expedita eius ullam corrupti. Eum, vel. Ipsum maxime provident quibusdam, voluptatum assumenda magnam delectus tempore magni distinctio. Deserunt totam qui ab.
        Ad atque voluptatibus exercitationem eius temporibus suscipit architecto reprehenderit officia quia veritatis ratione maxime neque magni nulla rerum, quam dolore quo eos repudiandae placeat eum. Atque maxime eaque autem harum.
        Hic aperiam cum harum aspernatur autem, nemo corporis reiciendis fuga quisquam commodi itaque temporibus consectetur et atque, sunt ipsam praesentium natus veniam ex, beatae iste? Debitis qui veritatis necessitatibus animi?
    </p>
</article>

